<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="<%=HTTP_ROOT%>/css/bootstrap.css">
    <style>
      p {
        font-size:12px;
        color: #ccc;
      }
    </style>
  </head>
  <body>
    <div class="panel panel-default" style="width:350px; margin:100px auto 0">
      <div class="panel-heading">
        <h2 class="panel-title">文件比对</h2>
      </div>
      <div class="panel-body">
        <% if(errmsg){ %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>错误</strong> <%=errmsg%>
        </div>
        <% } %>
        <form action="<%=HTTP_ROOT%>/admin/login" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="username">提交表格</label>
            <p>不提交js提取表格内容生成js文件</p>
            <input type="file" class="form-control" name="username" id="username">
          </div>
          <div class="form-group">
            <label for="username">提交js</label>
            <p>表格内容用于补充js文件(非必传)</p>
            <input type="file"  class="form-control" name="password" id="password">
          </div>
          <button type="submit" class="btn btn-primary">提交文件</button>
        </form>
      </div>
    </div>
  </body>
</html>
